In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import statsmodels.api as sm
import statsmodels.formula.api as smf
from datetime import datetime
import seaborn as sns

In [2]:
kkbox = pd.read_csv('/Users/galvanize/Documents/projects/kkbox-churn-prediction-challenge/made_by_me/member_sample.csv', sep=',')
kkbox.head()

,msno,city,bd,gender,registered_via,registration_init_time,payment_method_id,payment_plan_days,plan_list_price,actual_amount_paid,...,membership_expire_date,is_cancel,date_entry,num_25,num_50,num_75,num_985,num_100,num_unq,total_secs
0,3xmvdgcfiPnpzVvQH2LxgiQmhupt9ml4Zwp0R2lNfGA=,4,51,male,9,2010-03-03,40,30,149,149,...,2017-04-18,f,2017-03-01,11,5,2,3,31,45,8273.919
1,3xmvdgcfiPnpzVvQH2LxgiQmhupt9ml4Zwp0R2lNfGA=,4,51,male,9,2010-03-03,40,30,149,149,...,2017-04-18,f,2017-03-19,53,18,7,2,34,100,11547.321
2,3xmvdgcfiPnpzVvQH2LxgiQmhupt9ml4Zwp0R2lNfGA=,4,51,male,9,2010-03-03,40,30,149,149,...,2017-04-18,f,2017-03-25,17,9,3,7,31,62,9686.813
3,3xmvdgcfiPnpzVvQH2LxgiQmhupt9ml4Zwp0R2lNfGA=,4,51,male,9,2010-03-03,40,30,149,149,...,2017-04-18,f,2017-03-05,19,10,6,3,41,66,12757.596
4,3xmvdgcfiPnpzVvQH2LxgiQmhupt9ml4Zwp0R2lNfGA=,4,51,male,9,2010-03-03,40,30,149,149,...,2017-04-18,f,2017-03-26,41,4,4,10,44,92,13503.578

In [3]:
kkbox['plan_list_price'].value_counts()

149     8126396
99      3482685
180     1724024
129      676673
100      381598
0        116722
1788      95757
894       62232
536       46499
1200      38829
300       37086
150       34772
477       24200
600       16171
298       15826
447       14882
480       12127
1599       8821
119        6316
35         5411
930        4664
1299       2128
799        1737
134        1639
120        1113
126        1106
500         960
450         886
1000        771
350         349
131         299
400         198
2000        142
1399        140
265          67
70           51
596          46
105          42
1            40
699          33
1150         24
143           2
Name: plan_list_price, dtype: int64